# Web scraping
requests
selenium

# Data storage
pymongo  # Or use  if storing unstructured data in MongoDB

# Data manipulation and analysis
pandas

# Data visualization
matplotlib
seaborn

# Notifications and automation
schedule
